@charset "utf-8";
/* Basic Settings */
#headTop{
	min-width: 1000px;
	height:32px;
	line-height: 32px;
	background: none repeat scroll 0 0 #444444;
}
#btnFollow{
	width:75px;
	text-indent: 22px;
}
#btnFollow a{
	color:#FDCFA2 !important;
}
#headTel{
	color: #FDCFA2;
    cursor: default;
    font-family: "黑体";
    font-size: 22px;
    text-indent: 20px;
}
#listMy{
	float: right;
    margin: 0 5px;
    width: 115px;
    z-index: 50;
}
#listMy .s{
	border-top-color: #FFFFFF;
	right: 20px;
	top: 13px;
}
#listMy .listShow{
	color:#ffffff;
	height: 32px;
    overflow: hidden;
    padding-left: 20px;
    width: 95px;
}
#listMy .listCon{
	background: none repeat scroll 0 0 #333333;
    height: 55px;
    left: 0;
    line-height: 24px;
    opacity: 0.85;
    padding-top: 32px;
    position: absolute;
    top: 0;
    width: 115px;
    z-index: -1;
}
#listMy .listCon li{
	color: #BFBEBE;
    display: block;
    height: 24px;
    line-height: 24px;
    padding-left: 20px;
    width: 95px;
}
#headReg{
	text-indent: 22px;
	width: 75px;
}
#headLogin{
	text-indent: 22px;
	width: 75px;
}
#headMain{
	height: 106px;
	position:relative;
	z-index: 22;
}
#headLogo{
	width:300px;
	height: 72px;
	margin: 20px 0px 20px;
}
#headSearch{
	width: 500px;
	height:56px;
	margin:25px 10px;
}
#headSearch .headSearchBorder{
 	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1C1C1;
    height: 33px;
    width: 460px;
}
#headSearch .input{
	border: medium none;
    color: #CCCCCC;
    float: left;
    height: 17px;
    outline: medium none;
    padding: 8px;
    width: 406px;
}
#headSearch .submit{
	background: none repeat scroll 0 0 #7D7D7D;
    border: 0 none;
    float: left;
    cursor: pointer;
    display: block;
    height: 33px;
    width: 38px;
}
#headSearch .headHotSearch{
	height: 14px;
    margin-top: 5px;
}
#headSearch .headHotSearch a{
	color:#333;
	margin: 0 10px 0 5px;
}
#headCart{
	width: 100px;
	margin:15px 10px 10px 35px;
	height: 56px;
}
#headCart .goods-num{
	color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 8px 0 0;
    _display: inline;
    text-align: center;
}
#headCart .cart-text{
	bottom: 0px;
    color: #BF3019;
    float: right;
    font-family: '微软雅黑';
    font-size: 14px;
    left: 50px;
    width: 60px;
}
#headNav{
    height: auto;
    position: relative;
    width: 1000px;
    z-index: 21;
}
#nav-list{
    background: none repeat scroll 0 0 #7C7C7C;
    margin:0px;
    padding: 0px;
    width:100%;
    height:100%;
    line-height: 36px;
    float: left;
}
#nav-list .subnav{
    float: left;
    position: relative;
    text-align: center;
    width: 125px;
    cursor: pointer;
 }
#nav-list .nav-active{
    width: 125px;
    background: none repeat scroll 0 0 #BF3019 !important;
}
#nav-list .subnav .nav-hover-list{
    background: none repeat scroll 0 0 #333333;
    display: none;
    line-height: 24px;
    opacity: 0.97;
    padding-bottom: 30px;
    position: absolute;
    width: 475px;
    padding-left: 40px;
    padding-top: 25px;
    top:36px;
    left:0px;
    z-index: 99;
}
#nav-list .subnav .nav-hover-list dl{
    display: block;
    width: 100%;
    height: auto;
    line-height: 24px;
    border-bottom: 1px solid #424242;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
#nav-list .subnav .nav-hover-list dt{
    color: #FFFFFF;
    float: left;
    font-weight: 600;
    width: 60px;
    text-align: left;
}
#nav-list .subnav .nav-hover-list dd{
    float: left;
}
#nav-list .subnav .nav-hover-list dd a{
    padding: 10px;
    color:#888;
}